
<div class= "container">
  <h3>Welcome: {{player.userName}}!</h3>

  <nav>
    <a class="nav-link" active routerLink="/login">Log out</a>
  </nav>
</div>


<div class="container">
  <div class="card" style="width: 18rem;">
    <img src="../../assets/images/game.jpeg" class="card-img-top" alt="...">

    <div class="card-body">
      <h5 class="card-title">Sonic Adventure Game</h5>
      <p class="card-text">4 tokens per game! Your current tokens: {{currToken}}</p>
      <p class="card-text"></p>
      <button class="btn btn-primary" (click)="play();"
      style="width:100%;">Play</button>
    </div>

  </div>

  <h3 class="mt-3">Refill your tokens</h3>

  <div>
    <label for="amount" class="form-label">How many tokens do you want to refill?</label>
    <div class="row mx-0">
      <div class="col-10 ps-0">
        <input class="form-control" id="amount" type="number" #amount placeholder="0.25$ per token"
        required min="1" step="1"/>
      </div>

      <button class="btn btn-primary col-2" (click)="refill(amount.value);">Refill</button>
    </div>

  </div>

  <h3 class="mt-3">Transaction Records</h3>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Description</th>
        <th scope="col">Amount</th>
        <th scope="col">Time</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let transaction of transactions">
        <td>{{transaction.description}}</td>
        <td>{{transaction.value}}</td>
        <td>{{transaction.date}}</td>
      </tr>
      <tr *ngIf = "transactions.length == 0" colspan="3">
        No transactions for now
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="2">Remained Tokens</td>
        <td>{{currToken}}</td>
      </tr>
    </tfoot>
  </table>

</div>
